---
import { getCollection, getEntry } from 'astro:content';
import { Image } from "astro:assets";
import Layout from '../../layouts/Layout.astro';
import { formatDate } from '../../utils';

export async function getStaticPaths() {
	const ideas = await getCollection('ideas');
	return ideas.map((idea) => ({ params: { slug: idea.id.replace(/\.(md|mdx)$/i, '') }, props: {idea} }));
}

const { idea } = Astro.props;
---

<Layout title={idea.data.title} description={idea.data.description}>
	<article class="p-4 mx-auto max-w-prose bg-white">
		<header class="mb-6">
			<div class="flex justify-between">
			<div class="flex gap-4">
				{idea.data.image && (
					<Image src={idea.data.image} alt={idea.data.title} class="w-full rounded-md max-w-16 max-h-16" />
				)}
								<div class="">
									<h1 class="text-3xl font-bold mb-2">{idea.data.title}</h1>
        <p class="text-sm text-gray-500">{idea.data.description}</p>
								</div>
			</div>
        <p class="text-sm text-gray-500 flex-shrink-0">{formatDate(idea.data.addedDate)}</p>
      </div>
		</header>
		<section class="mt-6 prose prose-ul:list-disc prose-ul:pl-4" set:html={idea.rendered?.html ?? ''} />
	</article>
</Layout>


